/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos en index */
.index-body {
  height: 100vh;
}

/* estilos de header */
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  flex-wrap: nowrap;
  position: sticky;
  top: 0px;
  margin-top: 0px;
  z-index: 2;
}
.container-fluid .bg-body-tomato {
  background-color: #CB997E;
}
.container-fluid img {
  width: 30%;
  height: 30%;
  margin-left: 5px;
}
.container-fluid nav ul {
  padding-right: 30px;
  color: black;
  list-style: none;
  display: flex;
  align-content: center;
  gap: 25px;
  font-size: 18px;
}
.container-fluid nav ul .menu-header {
  box-shadow: 8px 12px 10px #1F2324;
  border-radius: 10px;
  border-style: none;
  transition: 2s;
}
.container-fluid nav ul .menu-header :hover {
  transition: 2s;
  border-radius: 10px;
  transform: translateY(-8px);
  box-shadow: 8px 12px 10px whitesmoke;
}

/* estilos del html index */
/* estilos de main */
.index-div {
  border-bottom: 1px solid #85898a;
  margin-bottom: 10px;
  background-color: #1F2324;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: 1fr, 1fr;
  align-items: center;
}
.index-div .main-textoss {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 100px;
}
.index-div .main-textoss .texto {
  text-align: justify;
  font-size: 17px;
  font-family: "Inria Sans", sans-serif;
  color: whitesmoke;
}
.index-div .main-textoss .descripcion {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  margin-top: 15px;
  text-align: justify;
  margin-bottom: 15px;
  color: rgb(172, 168, 168);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.index-div .main-textoss .estilo-uno {
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  padding-bottom: 15px;
  color: #CB997E;
}
.index-div .main-textoss .estilo-dos {
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  font-size: 12px;
  color: #CB997E;
}
.index-div .main-imagen {
  width: 30%;
  display: flex;
  justify-content: center;
}
.index-div img {
  width: 100%;
  height: 0%;
}

/* section */
section {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}
section .section-h3 {
  color: #876E38;
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
}
section .redessociales {
  display: flex;
}

/* footer */
footer {
  background-color: #1F2324;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .footer-pie {
  color: grey;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/* html Caracteristicas */
.caracteristicas-body {
  height: 100vh;
}
.caracteristicas-body .caracteristicas-main {
  border-bottom: 1px solid #85898a;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  color: #282826;
}
.caracteristicas-body .caracteristicas-main .caracteristicas-div .parrafos {
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10px;
}
.caracteristicas-body .caracteristicas-main .caracteristicas-div .contenedor-ul {
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-bottom: 50px;
}
.caracteristicas-body .caracteristicas-main .caracteristicas-div .titulos {
  font-size: 30px;
  color: #876E38;
  font-family: "Inria Sans", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 30px;
  margin-right: 30px;
}
.caracteristicas-body .caracteristicas-main .caracteristicas-imagenes {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

/* html Compatibilidad */
.compatibilidad-body {
  height: 100vh;
}
.compatibilidad-body .compatibilidad-main {
  border-bottom: 1px solid #85898a;
  margin-bottom: 10px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 30%);
  row-gap: 20px;
  align-content: center;
  text-align: center;
  align-items: center;
  color: #282826;
}
.compatibilidad-body .compatibilidad-main .textcomp {
  text-align: justify;
  font-family: "Inria Sans", sans-serif;
  font-size: 15px;
  display: flex;
  margin: 8px;
  justify-content: space-between;
}
.compatibilidad-body .compatibilidad-main img {
  width: 70%;
  height: 90%;
  object-fit: cover;
}

/* html Famosos */
/* estilos de Bootstrap */
.body-famosos {
  height: 100vh;
}
.body-famosos .container-fluid-famosos {
  border-bottom: 1px solid #85898a;
  margin-bottom: 10px;
  color: #CB997E;
}
.body-famosos .container-fluid-famosos .text-custom {
  color: #876E38;
  font-size: 35px;
  font-family: "Inria Sans", sans-serif;
  text-align: justify;
}
.body-famosos .container-fluid-famosos .famosos-main img {
  width: 100%;
}
.body-famosos .container-fluid-famosos .famosos-main .famosos-descripcion {
  text-align: justify;
}
.body-famosos .container-fluid-famosos .famosos-main .famosos-descripcion .famosos-nombres {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.body-famosos .container-fluid-famosos .famosos-main .famosos-descripcion .descripcion {
  text-align: justify;
  font-size: 17px;
}

/* contactanos */
.main-contactanos {
  border-bottom: 1px solid #85898a;
  margin-bottom: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  color: #876E38;
}
.main-contactanos .form-contactanos {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  row-gap: 20px;
}

/* MQ */
/* estilos de celular */
@media screen and (max-width: 450px) {
  /* html compatibilidad */
  .compatibilidad-body .compatibilidad-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
  /* html index */
  .main-index .index-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-index .index-div .main-textoss {
    width: 90%;
    margin-left: 100px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-index .index-div .main-textoss .estilo-uno {
    margin-left: 100px;
    padding-top: 30px;
  }
  .main-index .index-div .main-textoss .estilo-dos {
    margin-left: 100px;
  }
  .main-index .index-div img {
    width: 250px;
    align-items: center;
    margin-bottom: 30px;
  }
  /* html caracteristicas */
  .caracteristicas-body .caracteristicas-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .caracteristicas-body .caracteristicas-main .caracteristicas-div {
    width: 100%;
    margin-top: 20px;
  }
  .caracteristicas-body .caracteristicas-main .caracteristicas-imagenes {
    width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 170px;
    margin-bottom: 20px;
    gap: 10px;
  }
  /* html Famosos */
  .container-fluid-famosos .famosos-h1 {
    width: 90%;
    text-align: justify;
  }
  .container-fluid-famosos .famosos-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .container-fluid-famosos .famosos-main .famosos-descripcion {
    width: 90%;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .container-fluid-famosos .famosos-main .famosos-descripcion .famosos-nombres {
    width: 100%;
  }
  /* html contactanos */
  .main-contactanos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 95px;
  }
  .main-contactanos h1 .form-contactanos {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* footer */
  .footer-pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
