/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos en index */

.index-body{
    height: 100vh;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    flex-wrap: nowrap; 
    position: sticky; 
    top: 0px;
    margin-top: 0px;
    z-index: 2;
}

.bg-body-tomato{
    background-color: #CB997E;
}


header img{
    width: 30%;
    margin-left: 5px;
}

header nav ul{
    padding-right: 30px;
    color: black;
    list-style: none;
    display: flex;
    align-content: center;
    gap: 25px;
    font-size: 18px;       
}
.menu-header{
    box-shadow: 8px 12px 10px #1F2324;
    border-radius: 10px;
    border-style: none;  
    transition: 2s;
}
.menu-header:hover{
    transition: 2s;
    transform: translateY(-8px);
    box-shadow: 8px 12px 10px whitesmoke;
}

/* estilos en main del html index */

.index-div{ 
    background-color: #1F2324;
    border-bottom: 1px solid whitesmoke; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 1fr, 1fr;
    align-items: center;
}

.texto{
    text-align: justify;  
    margin-left: 80px;     
    font-size: 17px; 
    font-family: "Inria Sans", sans-serif; 
    color: whitesmoke;
}

.main-textoss{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.main-imagen{
    width: 50%;
    display: flex;
    justify-content: center;
}

.descripcion{
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 80px;  
    text-align: justify;
    margin-bottom: 15px;
    color: rgb(172, 168, 168);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.estilo-uno{
    text-align: center;
    font-family: "Inria Sans", sans-serif; 
    padding-bottom: 15px;
    margin-left: 30; 
    color: rgb(209, 207, 207);
}


.estilo-dos{
    text-align: center;
    font-family: "Inria Sans", sans-serif; 
    font-size: 12px;
    padding-left: 100;    
    color: rgb(209, 207, 207);  
}

/* pseudoclases */

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:active{
    text-transform: none;
    background-color: #AE8C73;
    text-decoration: none;
    color: white;
}



/* SECTION */
section{
    background-color: white;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 8px;
    padding: 10px;
    font-size: 15px;
}

.section-h3{
    color: #876E38;
    font-family: "Inria Sans", sans-serif;
    font-size: 25px;
}

.redessociales{
    display: flex;    
}


/* FOOTER */
footer{  
    background-color: #1F2324;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
}


.footer-pie{
    color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


/* Html Caracteristicas */

.caracteristicas-body{
    height: 100vh;
}

.caracteristicas-main{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    border-bottom: 1px solid rgb(102, 96, 96);
}

main .parrafos{
    font-family: "Quicksand", sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
}

.contenedor-ul{
    font-family: "Quicksand", sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 50px;
}

main .titulos{
    font-size: 30px;
    color: #876E38;
    font-family: "Inria Sans", sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 30px;
}

.caracteristicas-div{
    width: 50%;
    

}

.caracteristicas-imagenes{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

/* ESTILOS DE MAIN EN COMPATIBILIDAD */

.compatibilidad-body{
    height: 100vh;
}

.compatibilidad-main{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 30%);
    row-gap: 20px;
    align-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(112, 110, 110); 
}

main .textcomp{
    text-align: justify;
    font-family: "Inria Sans", sans-serif; 
    font-size: 15px;
    display: flex;
    margin: 8px;
    justify-content: space-between;
}

main div img{
    width: 70%;
    height: 90%;
    object-fit: cover;   
}


/* Html Famosos */
/* estilos de Bootstrap */
.body-famosos{
    height: 100vh;
}

.container-fluid-famosos{
    border-bottom: 1px solid rgb(112, 110, 110); 
}

.text-custom{
    color: #876E38;
    font-size: 35px;
    font-family: "Inria Sans", sans-serif;    
}

.brigitte{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionbri{
    text-align: justify;
    font-size: 17px;
}

.roger{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionro{
    text-align: justify;
    font-size: 17px;
}

.zac{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionza{
    text-align: justify;
    font-size: 17px;
}

.gwyneth{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripciongw{
    text-align: justify;
    font-size: 17px;
}

.eminem{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionem{
    text-align: justify;
    font-size: 17px;
}

.kate{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionka{
    text-align: justify;
    font-size: 17px;
}

.hugh{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionhu{
    text-align: justify;
    font-size: 17px;
}

.matt{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionma{
    text-align: justify;
    font-size: 17px;
}

.ryan{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionry{
    text-align: justify;
    font-size: 17px;
}

.rupert{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.descripcionru{
    text-align: justify;
    font-size: 17px;
}

/* CONTACTANOS */
.main-contactanos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    border-bottom: 1px solid rgb(102, 96, 96); 
}

.form-contactanos{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 17px;
    font-family: "Quicksand", sans-serif;
    row-gap: 20px;
}

/* MQ */
/* estilos de celular */

@media screen and (max-width:420px){
    /* html compatibilidad */
    .compatibilidad-main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
    }      

    /* html index */
    .index-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
    }    
    .main-textoss{
        width: 100%;
        margin-right: 75px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .estilo-uno{
        margin-left: 80px;
        padding-top: 30px;
    }
    .estilo-dos{
        margin-left: 80px;
    }
    .main-imagen{
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }

    /* html caracteristicas */
    .caracteristicas-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .caracteristicas-div{
        width: 100%;
        margin-top: 20px;
    }
    .caracteristicas-imagenes{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 70px;
        margin-bottom: 20px;
}

    /* html famosos */
    .famosos-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .famosos-descripcion{
        width: 90%;
        margin-right: 45px;       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;     
    }
    .famosos-nombres{
        width: 100%;
    }
    .img-famosos{
        width: 100%;
        margin-top: 30px;
        margin-right: 30px;
    }
    .famosos-h1{
        width: 90%;
        margin-right: 30px;
        text-align: justify;
    }
   
    }


/* estilos de desktop */

@media screen and (min-width:1024px){
    .compatibilidad-main{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 30% 30% 30%;  
    }       
}