//import de utilidades

@import "../utilidades/mixin";
@import "../utilidades/listas";
@import "../utilidades/mapas";


/* estilos de header */

//nesting

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    flex-wrap: nowrap; 
    position: sticky; 
    top: 0px;
    margin-top: 0px;
    z-index: 2;
    .bg-body-tomato{
        background-color: map-get($colores, secundario);
    }
    img{
        @include medidas (30%, 30%);
        margin-left: 5px;
    }
    nav{
        ul{
            padding-right: 30px;
            color: black;
            list-style: none;
            display: flex;
            align-content: center;
            gap: 25px;
            font-size: 18px; 
            .menu-header{
                box-shadow: 8px 12px 10px #1F2324;
                border-radius: 10px;
                border-style: none;  
                transition: 2s;
                :hover{   
                    transition: 2s;
                    border-radius: 10px;
                    transform: translateY(-8px);
                    box-shadow: 8px 12px 10px whitesmoke;   
                }
            }
        }
    }
    
}

/* estilos del html index */
/* estilos de main */

.index-div{
    @include flex;
    background-color: map-get($colores, primario );
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 1fr, 1fr;
    align-items: center;
    .main-textoss{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-right: 100px;
        .texto{
            text-align: justify;               
            font-size: 17px; 
            font-family: "Inria Sans", sans-serif; 
            color: nth($list-color, 4);
        }
        .descripcion{
            font-family: "Quicksand", sans-serif;
            font-size: 15px;
            margin-top: 15px;    
            text-align: justify;
            margin-bottom: 15px;
            color: rgb(172, 168, 168);
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: start;
        }
        .estilo-uno{
            text-align: center;
            font-family: "Inria Sans", sans-serif; 
            padding-bottom: 15px;
            color: nth($list-color, 1);
        }
        .estilo-dos{
            text-align: center;
            font-family: "Inria Sans", sans-serif; 
            font-size: 12px;
            color: nth($list-color, 1);
        }
    }
    .main-imagen{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    img{
        @include medidas (100%, 0%);
    }
}

/* section */

section{
    background-color: white;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    text-align: center;
    gap: 8px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    .section-h3{
        color: nth($list-color, 2);
        font-family: "Inria Sans", sans-serif;
        font-size: 20px;
    }
    .redessociales{
        display: flex;  
    }
}

/* footer */

footer{
    background-color: map-get($colores, primario );
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
    .footer-pie{
        color: grey;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}

/* html Caracteristicas */

.caracteristicas-body{
    height: 100vh;
    .caracteristicas-main{
        @include flex;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        color: nth($list-color, 3);
        .caracteristicas-div{
            .parrafos{
                font-family: "Quicksand", sans-serif;
                margin-left: 30px;
                margin-right: 30px;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                text-align: justify;
                gap: 10px;
            }
            .contenedor-ul{
                font-family: "Quicksand", sans-serif;
                margin-left: 30px;
                margin-right: 30px;
                display: flex;
                flex-direction: column;
                text-align: justify;
                margin-bottom: 50px;
            }
            .titulos{
                font-size: 30px;
                color: nth($list-color, 2);
                font-family: "Inria Sans", sans-serif;
                font-size: 30px;
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
        .caracteristicas-imagenes{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: space-between;
            align-items: center;
        }
        
    }
}

/* html Compatibilidad */

.compatibilidad-body{
    height: 100vh;
    .compatibilidad-main{
        @include flex;
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 30%);
        row-gap: 20px;
        align-content: center;
        text-align: center;
        align-items: center;
        color: nth($list-color, 3); 
        .textcomp{
            text-align: justify;
            font-family: "Inria Sans", sans-serif; 
            font-size: 15px;
            display: flex;
            margin: 8px;
            justify-content: space-between;
        }
        img{
            width: 70%;
            height: 90%;
            object-fit: cover; 
        }
    }
}

/* html Famosos */
/* estilos de Bootstrap */

.body-famosos{
    height: 100vh;
    .container-fluid-famosos{
        @include flex;
        color: nth($list-color, 1);  
        .text-custom{
            color: nth($list-color, 2);
            font-size: 35px;
            font-family: "Inria Sans", sans-serif;
            text-align: justify;           
        } 
        .famosos-main{
            img{
                width: 100%;
            }
            .famosos-descripcion{
                text-align: justify;
                .famosos-nombres{
                    font-family: "Quicksand", sans-serif;
                    font-size: 20px;
                }
                .descripcion{
                    text-align: justify;
                    font-size: 17px;
                }
            }
        }
    }
}

/* contactanos */

.main-contactanos{
    @include flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    color: nth($list-color, 2); 
    .form-contactanos{
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 17px;
        font-family: "Quicksand", sans-serif;
        row-gap: 20px; 
    }
}

/* MQ */
/* estilos de celular */

@media screen and (max-width:450px){

    /* html compatibilidad */
    .compatibilidad-body{
        .compatibilidad-main{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(12, 1fr);
        }
    }
    
    /* html index */
    .main-index{
        .index-div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .main-textoss{
                width: 90%;
                margin-left: 100px;
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .estilo-uno{
                    margin-left: 100px;
                    padding-top: 30px;           
                }
                .estilo-dos{
                    margin-left: 100px;
                }
            }
            img{
                width: 250px;
                align-items: center;
                margin-bottom: 30px;
            }
        }
    }
    

    /* html caracteristicas */
    .caracteristicas-body{
        .caracteristicas-main{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .caracteristicas-div{
                width: 100%;
                margin-top: 20px;
            }
            .caracteristicas-imagenes{
                width: 10px;
                display: flex;
                flex-direction: column;              
                align-items: center;
                margin-left: 170px;
                margin-bottom: 20px;
                gap: 10px;
            }
        }
    }
    

    /* html Famosos */
    .container-fluid-famosos{
        .famosos-h1{
            width: 90%;
            text-align: justify;
        }
        .famosos-main{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            .famosos-descripcion{
                width: 90%;
                margin-right: 45px;       
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-content: center; 
                .famosos-nombres{
                    width: 100%;
                }
            }
        }
    }

    /* html contactanos */
    .main-contactanos{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 95px;
        h1 .form-contactanos{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    /* footer */
    .footer-pie{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 25px;
    }
}